body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
     background-image: url("booksbg.jpg");
     background-size: cover; 
     background-position: center; 
     }
     select {
        width: 200px; /* Adjust width as needed */
        height: 40px; /* Adjust height as needed */
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
.container {
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
            background-color: #d7d5d5;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
h2 {
            margin-top: 0;
            font-size: 24px;
            color: #333;
            text-align: center;
    }
form {      margin-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
}
        label {
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }
        input[type="text"],
        input[type="number"],
        input[type="button"] {
            width: calc(100% - 70px); 
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
            box-sizing: border-box; 
        }
        input[type="text"],
        input[type="number"] {
            background-color: #f9f9f9;
        }
        input[type="button"] {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        input[type="button"]:hover {
            background-color: #0056b3;
        }
        .button-group {
            display: flex;
            justify-content: space-between;
            gap: 10px; 
}